<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_szq9n2Xccbo6Lb4XH2WPsMBTHUW-EYA</string>
	<key>GCM_SENDER_ID</key>
	<string>489636964228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.supertecAppCleanCode</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ccfee</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ccfee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489636964228:ios:07fd80f11fb2da868f9fd1</string>
</dict>
</plist>